on post-fs
    # ims.apk relies on libimscamera_jni and libimsmedia_jni.
    # For more information about this specific bindmount, please
    # check the readme in common-binds.mk
    mount none /odm/system_ext/lib64 /system/system_ext/priv-app/ims/lib/arm64 bind rec
